/* app imports */
@import "../../common/css/variables.scss";
@import "../../common/css/mixins.scss";
@import "./list-item-styles.scss";

.container {
  overflow: hidden;
  margin-top: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 15px;
  background: #eee;
  &:last-child {
    margin-bottom: 100px;
  }
  .info {
    line-height: 1.4rem;
    font-size: 0.85rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
  }
}

.simpleFiveColumnLayout {
  padding: 100px 50px calc(100px - 15px) 50px !important;
  ul {
    margin-bottom: 45px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.fixedWidthColumnLayout {
  padding: 100px 50px calc(100px - 15px) 50px !important;
  ul {
    margin-bottom: 45px;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 250px repeat(2, 1fr) 300px;
  }
}

.autoWidthFactionalLayout {
  padding: 100px 50px calc(100px - 15px) 50px !important;
  ul {
    margin-bottom: 45px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, auto) 1fr 2fr;
  }
}

.multiFractionalResponsiveLayout {
  padding: 100px 50px calc(100px - 15px) 50px !important;
  ul {
    margin-bottom: 45px;
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 1fr 3fr;
  }
}

.dynamicAutoFillColumnLayout {
  padding: 100px 50px calc(100px - 15px) 50px !important;
  ul {
    margin-bottom: 45px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

.fractionalRepeatPattern {
  padding: 100px 50px calc(100px - 15px) 50px !important;
  ul {
    margin-bottom: 45px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr 2fr);
  }
}
